* {
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	color: #777;
}


body {
	background-color: #777;

}

.clear {
	clear: both;
	overflow: auto;

}

header, nav, footer {
	float: left;
	width: 960px;
	padding: 20px;
	background-color: #eee;
	margin-top: 10px;
	margin-left: 140px;

}


section {
	float: left;
	width: 480px;
	padding: 20px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 140px;
	background-color: #eee;
	

}



.article1 {
	width: 90%;
	padding: 20px;

}

.top {
	padding: 20px;
	
}

.bottom {
	

}


article {
	width: 495px;
	padding: 10px;
	margin: auto;
	background: #777;
	color: white;

	

}

h1 {
	padding: 15px;
	background-color: #eee


}

p {
	width: 95%;
	background-color: #eee;
	margin: auto;
	padding: 10px;

}


aside {
	float: right;
	background-color: #eee;
	width: 440px;
	height: 250px;
	padding: 20px;
	margin-top: 10px;
	margin-right: 115px;

}





